<div class="container-5 p-3">
    <div>
        <div (click)="filter()">
            <p-multiSelect 
            [options]="tags"
            [(ngModel)]="chosenTags"
            defaultLabel="Choose tags">
            </p-multiSelect>

            <p-multiSelect 
            [options]="allWebRecords"
            [(ngModel)]="chosenUrls"
            optionLabel="url"
            optionValue="url"
            defaultLabel="Choose URLs">
                <ng-template let-webRecord pTemplate="item">
                    <div>{{ webRecord.url }}</div>
                </ng-template>
            </p-multiSelect>
            
            <p-multiSelect 
            [options]="allWebRecords"
            [(ngModel)]="chosenLabels"
            optionLabel="label"
            optionValue="label"
            defaultLabel="Choose Labels">
                <ng-template let-webRecord pTemplate="item">
                    <div>{{ webRecord.label }}</div>
                </ng-template>
            </p-multiSelect>
            
            <span class="form-check form-switch form-check-inline" style="margin-left: 1%;">
                <input class="form-check-input" type="checkbox" id="sort-Url" [(ngModel)]="sortByUrl">
                <label class="form-check-label" for="sortUrl">Sort by URL</label>
            </span>
            <span *ngIf="sortByUrl">    
                <span class="form-check form-check-inline">
                    <input (click)="executeSortByUrl(true)" class="form-check-input" type="radio" name="alphabet" id="sort-AtoZ" value="true">
                    <label class="form-check-label" for="sort-AtoZ">A-Z</label>
                </span>
                <span class="form-check form-check-inline">
                    <input (click)="executeSortByUrl(false)" class="form-check-input" type="radio" name="alphabet" id="sort-ZtoA" value="false">
                    <label class="form-check-label" for="sort-ZtoA">Z-A</label>
                </span>
            </span>
            <span class="form-check form-switch form-check-inline">
                <input class="form-check-input" type="checkbox" id="sor-tLastCrawling" [(ngModel)]="sortByLastCrawling">
                <label class="form-check-label" for="sortUrl">Sort by last crawling</label>
            </span>  
            <span *ngIf="sortByLastCrawling">
                <span class="form-check form-check-inline">
                    <input (click)="executeSortByLastCrawling(true)" class="form-check-input" type="radio" name="time" id="sort-newest" value="1">
                    <label class="form-check-label" for="sort-newest">Newest</label>
                </span>
                <span class="form-check form-check-inline">
                    <input (click)="executeSortByLastCrawling(false)" class="form-check-input" type="radio" name="time" id="sort-oldest" value="0">
                    <label class="form-check-label" for="sort-oldest">Oldest</label>
                </span>
            </span>
            <button (click)="createNewRecord()" class="btn btn-primary" style="margin-bottom: 0.4%;"> Create new record </button>
        </div>
    </div>

            <div *ngIf="recordUpdatingState != defaultState">
                <input class="form-control form-control-sm" [(ngModel)]="newRecord.url" type="text" placeholder="Url" aria-label=".form-control-sm example">
                <input class="form-control form-control-sm" [(ngModel)]="newRecord.label" type="text" placeholder="Label" aria-label=".form-control-sm example">
                <input class="form-control form-control-sm" [(ngModel)]="newRecord.regExp" type="text" placeholder="Regular Expression" aria-label=".form-control-sm example">
                <input class="form-control form-control-sm" [(ngModel)]="newRecord.days" type="text" placeholder="Days" aria-label=".form-control-sm example">
                <input class="form-control form-control-sm" [(ngModel)]="newRecord.hours" type="text" placeholder="Hours" aria-label=".form-control-sm example">
                <input class="form-control form-control-sm" [(ngModel)]="newRecord.minutes" type="text" placeholder="Minutes" aria-label=".form-control-sm example">
    
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="sort-Url" [(ngModel)]="newRecord.active">
                    <label class="form-check-label" for="sortUrl">Is Active</label>
                </div>  
    
                <h4>Tags</h4>
                <div *ngFor="let tag of newRecord.tagDTOs">
                    <span> {{tag.content}} </span>
                    <span><button (click)="removeTagFromNewRecord(tag)" class="btn btn-danger">x</button></span>
                </div>
                <input class="form-control form-control-sm" [(ngModel)]="newTag.content" type="text" placeholder="Tag" aria-label=".form-control-sm example">
                <div>
                    <button (click)="addTag()" class="btn btn-primary">Add a tag</button>
                    <button (click)="updateRecord()" class="btn btn-primary" [textContent]="updateRecordText"></button>
                </div>
            </div>
        <p-table 
            [value]="webRecords" 
            [paginator]="true" 
            [rows]="10" 
            [columns]="columns">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let column of columns" style="width: 15%;">
                        {{column.name}}
                    </th>
                    <th style="width: 5%;">Periodicity</th>
                    <th style="width: 10%;">Tags</th>
                    <th style="width: 4%;;"></th>
                    <th style="width: 4%;"></th>
                    <th style="width: 4%;"></th>
                    <th style="width: 4%;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" 
                let-rowData 
                let-columns="columns">
                <tr >
                    <td *ngFor="let column of columns" style="width: 15%; word-break: break-all;">
                        {{rowData[column.field]}}
                    </td>
                    <td style="width: 5%;">
                        {{rowData.days < 10 ? 0 : ''}}{{rowData.days}}:{{rowData.hours < 10 ? 0 : ''}}{{rowData.hours}}:{{rowData.minutes < 10 ? 0 : ''}}{{rowData.minutes}}:00
                    </td>
                    <td style="width: 10%;">
                        <span *ngFor="let tag of rowData.tagDTOs"> 
                            {{tag.content}}
                        </span> 
                    </td>
                    <td style="width: 4%;">
                        <a class="btn btn-outline-primary btn-sm" [routerLink]="['/record/view',rowData.id]">View</a>
                    </td>
                    <td style="width: 4%;">
                        <button class="btn btn-success btn-sm" (click)="editRecord(rowData.id)">Edit</button>
                    </td>
                    <td style="width: 4%;">
                        <button (click)="deleteARecord(rowData)" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                    <td style="width: 4%;">
                        <button class="btn btn-outline-warning" (click)="execute(rowData)">Crawl</button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>