<table>
    <thead>
        <tr>
            <th>Periodicity</th>
            <th>Label</th>
            <th>Last Execution</th>
            <th>Status of last Execution</th>
            <th>Tags</th>
            <th>URL</th>
            <th>Regular Expression</th>
            <th>Active</th>
        </tr>
    </thead>
</table>
<tbody>
    *ngIf="record"
    <tr>
        <td>
            {{record?.Periodicity}}
        </td>
        <td>
            {{record?.Label}}
        </td>
        <td>
            {{record?.LastExecution}}
        </td>
        <td>
            {{record?.ExecutionStatus}}
        </td>
        <td>
            
        </td>
    </tr>
</tbody>