<div class="containter">
    <div class="containter">
        <p-multiSelect 
        [options]="tags"
        [(ngModel)]="chosenTags"
        defaultLabel="Choose tags">
        </p-multiSelect>

        <p-multiSelect 
        class="px-4"
        [options]="webRecords"
        [(ngModel)]="chosenUrls"
        optionLabel="url"
        optionValue="url"
        defaultLabel="Choose URLs">
            <ng-template let-webRecord pTemplate="item">
                <div>{{ webRecord.url }}</div>
            </ng-template>
        </p-multiSelect>

        <p-multiSelect 
        class="px-4"
        [options]="webRecords"
        [(ngModel)]="chosenLabels"
        optionLabel="label"
        optionValue="label"
        defaultLabel="Choose Labels">
            <ng-template let-webRecord pTemplate="item">
                <div>{{ webRecord.label }}</div>
            </ng-template>
        </p-multiSelect>
    </div>

    <span class="single-row">
        <span class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="sort-Url" value="">
            <label class="form-check-label" for="sortUrl">Sort by URL</label>
        </span>    
        <span class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="alphabet" id="sort-AtoZ" value="1">
            <label class="form-check-label" for="sort-AtoZ">A-Z</label>
        </span>
        <span class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="alphabet" id="sort-ZtoA" value="2">
            <label class="form-check-label" for="sort-ZtoA">Z-A</label>
        </span>
        <span class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="sor-tLastCrawling" value="">
            <label class="form-check-label" for="sortUrl">Last Crawling</label>
        </span>    
        <span class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="time" id="sort-newest" value="1">
            <label class="form-check-label" for="sort-newest">Newest</label>
        </span>
        <span class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="time" id="sort-oldest" value="2">
            <label class="form-check-label" for="sort-oldest">Oldest</label>
        </span>
    </span>
</div>

<div class="table-responsive">
    <table class="table"
            *ngIf="webRecords.length">
        <thead>
            <tr>
                <th>URL</th>
                <th>Periodicity</th>
                <th>Label</th>
                <th>Last Execution</th>
                <th>Status of last Execution</th>
                <th>Tags</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of webRecords">
                <td> {{record.url}} </td>
                <td> {{record.periodicity}} </td>
                <td> {{record.label}} </td>
                <td> {{record.lastExecution}} </td>
                <td> {{record.executionStatus}} </td>
                <td>
                    <span *ngFor="let tag of record.tagDTOs"> 
                        {{tag.content}}
                    </span> 
                </td>
                <td>
                    <button class="btn btn-primary">View</button>
                </td>
                <td>
                    <button class="btn btn-secondary">Edit</button>
                </td>
                <td>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>       
        </tbody>
    </table>
</div>
<button class="btn btn-primary"> Create new record </button>
<div *ngIf="newRecordBeingCreated">
    <input class="form-control form-control-sm" value={{newRecord.url}} type="text" placeholder="Url" aria-label=".form-control-sm example">
    <input class="form-control form-control-sm" value={{newRecord.label}} type="text" placeholder="Label" aria-label=".form-control-sm example">
    <input class="form-control form-control-sm" value={{newRecord.regExp}} type="text" placeholder="Regular Expression" aria-label=".form-control-sm example">
    <input class="form-control form-control-sm" value={{newRecord.minutes}} type="text" placeholder="Minutes" aria-label=".form-control-sm example">
    <input class="form-control form-control-sm" value={{newRecord.hours}} type="text" placeholder="Hours" aria-label=".form-control-sm example">
    <input class="form-control form-control-sm" value={{newRecord.days}} type="text" placeholder="Days" aria-label=".form-control-sm example">

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="sort-Url" value={{newRecord.active}}>
        <label class="form-check-label" for="sortUrl">Is Active</label>
    </div>  
    <h4>Tags</h4>
    <div *ngFor="let tag of newRecord.tagDTOs">
        <span> {{tag.content}} </span>
        <span><button class="btn btn-danger">x</button></span>
    </div>
    <input class="form-control form-control-sm" value={{newTag.content}} type="text" placeholder="Tag" aria-label=".form-control-sm example">
    <div>
        <button class="btn btn-primary">Add a tag</button>
        <button class="btn btn-primary">Add a record</button>
    </div>
</div>