<div>
    <div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="sort-Url" value="">
            <label class="form-check-label" for="sortUrl">Sort by URL</label>
        </div>    
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="alphabet" id="sort-AtoZ" value="1">
            <label class="form-check-label" for="sort-AtoZ">A-Z</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="alphabet" id="sort-ZtoA" value="2">
            <label class="form-check-label" for="sort-ZtoA">Z-A</label>
        </div>
    </div>

    <div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="sor-tLastCrawling" value="">
            <label class="form-check-label" for="sortUrl">Last Crawling</label>
        </div>    
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="time" id="sort-newest" value="1">
            <label class="form-check-label" for="sort-newest">Newest</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="time" id="sort-oldest" value="2">
            <label class="form-check-label" for="sort-oldest">Oldest</label>
        </div>
    </div>

    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Choose Tags</option>
    </select>

    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Choose Labels</option>
    </select>

    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Choose URLs</option>
    </select>

    <h2>Tags For Filtering</h2>
</div>

<!-- 
    <dot:Repeater DataSource="{value: ChosenTagsForFiltering}" RenderWrapperTag="false">
        <ItemTemplate>
            <span>{{value: _this}}</span>
            <span><dot:Button Text="X" Click="{command: _parent.CancelStringFromFilter(1,_this)}"/></span>
        </ItemTemplate>
    </dot:Repeater>

    <h2>Labels For Filtering</h2>
    <dot:Repeater DataSource="{value: ChosenLabelsForFiltering}" RenderWrapperTag="false">
        <ItemTemplate>
            <span>{{value: _this}}</span>
            <span><dot:Button Text="X" Click="{command: _parent.CancelStringFromFilter(2,_this)}" /></span>
        </ItemTemplate>
    </dot:Repeater>

    <h2>URLs for filtering</h2>
    <dot:Repeater DataSource="{value: ChosenURLsForFiltering}" RenderWrapperTag="false">
        <ItemTemplate>
            <span>{{value: _this}}</span>
            <span><dot:Button Text="X" Click="{command: _parent.CancelStringFromFilter(3,_this)}" /></span>
        </ItemTemplate>
    </dot:Repeater>


    <table>
        <thead>
            <tr>
                <th>URL</th>
                <th>Periodicity</th>
                <th>Label</th>
                <th>Last Execution</th>
                <th>Status of last Execution</th>
                <th>Tags</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <dot:Repeater DataSource="{value: WebsiteRecords}" WrapperTagName="tbody">
            <ItemTemplate>
                <tr>
                    <td>
                        {{value: URL}}
                    </td>
                    <td>
                        {{value: Periodicity}}
                    </td>
                    <td>
                        {{value: Label}}
                    </td>
                    <td>
                        {{value: LastExecution}}
                    </td>
                    <td>
                        {{value: ExecutionStatus}}
                    </td>
                    <td>
                        <dot:Repeater DataSource="{value: tagDTOs}" RenderWrapperTag="false">
                            <ItemTemplate>
                                <span> {{value: Content + " "}} </span>
                            </ItemTemplate>
                        </dot:Repeater>
                    </td>
                    <td>
                        <dot:RouteLink RouteName="Record" Param-Id="{value: Id}">
                            <dot:Button Text="View" />
                        </dot:RouteLink>
                    </td>
                    <td>

                        <dot:RouteLink RouteName="RecordEdit" Param-Id="{value: Id}">
                            <dot:Button Text="Edit" />
                        </dot:RouteLink>
                    </td>
                    <td>
                        <dot:Button Click="{command: _parent.DeleteRecord(_this)}" Text="Remove" />
                    </td>
                </tr>
            </ItemTemplate>
        </dot:Repeater>
    </table>

    <dot:Button Click="{command: AddRecord()}" Text="Add a record" />
    <div>
        <h4>Minutes</h4>
        <dot:TextBox Text="{value: newRecord.Minutes}" />
        <h4>Hours</h4>
        <dot:TextBox Text="{value: newRecord.Hours}" />
        <h4>Days</h4>
        <dot:TextBox Text="{value: newRecord.Days}" />
        <h4>URL</h4>
        <dot:TextBox Text="{value: newRecord.URL}" />
        <h4>Label</h4>
        <dot:TextBox Text="{value: newRecord.Label}" />
        <h4>RegExp</h4>
        <dot:TextBox Text="{value: newRecord.RegExp}" />
        <h4>Active</h4>
        <dot:CheckBox Text="Active" Checked="{value: newRecord.Active}" />
        <h4>Tags</h4>
        <dot:Repeater DataSource="{value: tagDTOs}" RenderWrapperTag="false">
            <ItemTemplate>
                <span> {{value: Content + " "}} </span>
                <span> <dot:Button Click="{command: _parent.CancelTag(_this)}" Text="X" /> </span>
            </ItemTemplate>
        </dot:Repeater>
        <h4>New Tag</h4>
        <dot:TextBox Text="{value: newTag.Content}" />
        <dot:Button Click="{command: SaveNewTag()}" Text="Add a tag" />
        <dot:Button Click="{command: SaveNewRecord()}" Text="Add a record" />
    </div> -->