<head>

</head>
  
<body>
    <div id="detail">
    <h1>Detail</h1>
    <ul>
        <li id="url-a">url</li>
        <li id="crawl-time-a">crawl time</li>
        <li>
            <details>
                <summary></summary>
                <div id="record-a"></div>
            </details>
        </li>
    </ul>
    </div>
    
    <div id="3d-graph"></div>

    <div id="mode">
        <h4></h4>
        <input class="tgl tgl-flip" id="toggle" type="checkbox" [(ngModel)]="mode" (click)="toggleMode()">
        <label class="tgl-btn" data-tg-off="Website" data-tg-on="Domain" for="toggle"></label>
    </div>
</body>