/* Set body and html to take up the full height of the viewport */
html, body {
  margin: 0;
  height: 100%;
}

/* Set body's display to flex to enable vertical layout */
body {
  display: flex;
  flex-direction: column;
}

/* Position the detail and mode divs absolutely on top of the 3d-graph div */
#detail, #switch-mode, #switch-state {
  position: absolute;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  left: 5px; /* Adjust the left positioning as per your requirement */
  z-index: 1; /* Ensure detail and mode are stacked on top */
}

#detail {
  border-radius: 6px;
  background-color: rgba(196, 196, 196, 0.192);
}

#switch-mode {
  bottom: 1%; /* Adjust the bottom positioning as per your requirement */
  color: rgba(0, 0, 0, 0.844);
}

#switch-state {
  bottom: 60px;
  color: rgba(0, 0, 0, 0.844);
}

summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: 'records';
}

details[open] summary:after {
  content: "records";
}

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn-mode {
  outline: 0;
  display: block;
  width: 5em;
  height: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.tgl + .tgl-btn-state {
  outline: 0;
  display: block;
  width: 5em;
  height: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

/* MODE */

.tgl-flip-mode + .tgl-btn-mode {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}
.tgl-flip-mode + .tgl-btn-mode:after, .tgl-flip-mode + .tgl-btn-mode:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 4px;
}
.tgl-flip-mode + .tgl-btn-mode:after {
  content: attr(data-tg-on);
  background: #0d5ab9;
  transform: rotateY(-180deg);
}
.tgl-flip-mode + .tgl-btn-mode:before {
  background: #008c28;
  content: attr(data-tg-off);
}
.tgl-flip-mode + .tgl-btn-mode:active:before {
  transform: rotateY(-20deg);
}
.tgl-flip-mode:checked + .tgl-btn-mode:before {
  transform: rotateY(180deg);
}
.tgl-flip-mode:checked + .tgl-btn-mode:after {
  transform: rotateY(0);
  left: 0;
  background:  #0d5ab9;
}
.tgl-flip-mode:checked + .tgl-btn-mode:active:after {
  transform: rotateY(20deg);
}


/* STATE */

.tgl-flip-state + .tgl-btn-state {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}
.tgl-flip-state + .tgl-btn-state:after, .tgl-flip-state + .tgl-btn-state:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 4px;
}
.tgl-flip-state + .tgl-btn-state:after {
  content: attr(data-tg-on);
  background: #de016c;
  transform: rotateY(-180deg);
}
.tgl-flip-state + .tgl-btn-state:before {
  background: #c01e18;
  content: attr(data-tg-off);
}
.tgl-flip-state + .tgl-btn-state:active:before {
  transform: rotateY(-20deg);
}
.tgl-flip-state:checked + .tgl-btn-state:before {
  transform: rotateY(180deg);
}
.tgl-flip-state:checked + .tgl-btn-state:after {
  transform: rotateY(0);
  left: 0;
  background:  #de016c;
}
.tgl-flip-state:checked + .tgl-btn-state:active:after {
  transform: rotateY(20deg);
}