/* Set body and html to take up the full height of the viewport */
html, body {
  margin: 0;
  height: 100%;
}

/* Set body's display to flex to enable vertical layout */
body {
  display: flex;
  flex-direction: column;
}

/* Position the detail and mode divs absolutely on top of the 3d-graph div */
#detail, #mode {
  position: absolute;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  left: 5px; /* Adjust the left positioning as per your requirement */
  z-index: 1; /* Ensure detail and mode are stacked on top */
}

#detail {
  border-radius: 6px;
  background-color: rgba(196, 196, 196, 0.192);
}

#mode {
  bottom: 1%; /* Adjust the bottom positioning as per your requirement */
  color: rgba(0, 0, 0, 0.844);
}

summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: 'records';
}

details[open] summary:after {
  content: "records";
}

#btn-switch-to-domain, 
#btn-switch-to-website {
  background-color: #00a421d1;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  line-height: 20px;
  list-style: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
}

#btn-switch-to-domain:hover,
#btn-switch-to-domain:focus,
#btn-switch-to-website:hover,
#btn-switch-to-website:focus {
  background-color: #00bd16cf;
}
