<head>

</head>
  
<body>
    <div id="detail">
    <h1>Detail</h1>
    <ul>
        <li id="url-a">url</li>
        <li id="crawl-time-a">crawl time</li>
        <li>
            <details>
                <summary></summary>
                <div id="record-a"></div>
            </details>
        </li>
    </ul>
    </div>
    
    <div id="3d-graph"></div>

    <div id="mode">
        <h4>current mode: Website</h4>
        <button id="btn-switch-to-domain">Domain Mode</button>
    </div>
</body>